
#logo{
  color: white;
}
.navbar-fixed{
  position: fixed;
  z-index: 3;
  text-align: center;
}
.header {
  text-align: center;
}
.top-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  max-width: 100%;
  max-height: : 100%;
  margin-top: 100px;
  margin-bottom: 10px;
  background: white;
}

#intro{
  max-width: 100%;
}

nav {
  width: 100%;
  position: fixed;
  background: #092834;
  box-shadow: 0px 5px 15px #092834;

}
#profile-pic{
  border-radius: 2%;
  border: solid 1px 2px 2px 5px #1A3E4C;
  box-shadow: 0px 0px 4px lightgrey;
  max-width: 50%;
  margin-left: 40px;
  max-height: 100%;
}

.main {
  color: red;
}

.links {
  text-align: center;
  background: #1A3E4C;
}

#aboutme {
  border: solid 1px  lightgrey;
  background: #1A3E4C;
  color: white;
  max-height: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  box-shadow: 5px 10px 20px #092834;
  margin-bottom: 10px;
  margin-left: 30px;
}

#aboutme h3 {
  font-family: fantasy;
}

#aboutme p {
  font-family: fantasy;
  font-size: 100%;
}
#project-title{
  margin-top: 10px;
}
.gif{
  height: 300px;
  width: 600px;
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
}
#projects {
  background: url('');
  text-align: center;
  width: 100%;

}
.card.z-depth-4{
  background: white;

}
.col.s12.m4{
  margin: none;
}

#projects-title {
  margin-top: 10px;
  font-family: fantasy;
  font-style: bold;
}
.images {
  height: 200px;
  width: 320px;
  z-index: 1;
  box-shadow: 5px 10px 10px #1A3E4C;

}
#project-cards {
  margin-top: 30px;
  margin-bottom: 70px;
  box-shadow: 5px 10px 50px #092834;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #1A3E4C;

}
.card-image{
margin-bottom: 20px;
margin-top: 20px;}
}
/*about me page*/
.content {
  text-align: center;
}
.card{
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 5px 10px 10px #092834;
  margin-bottom: 20px;

}


#logo {
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}

.page-footer{
  background: #092834;
  width: 103%;
  display: flex;
  justify-content: space-between; 
  text-align: center;
  font-size: 12px;
  margin-top: -20px;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  text-align: center;
  background: #092834;
  padding-bottom: 60px;
  color: white;
  font-size: 10px;
  width: 103%;
}

a:link {
color: #67AFCB;
}
a:visited {
color: #67AFCB;
}
a:hover {
color: #ff3300;
}
.container{
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: -40px;
}
